joblib_memmap/
notebooks/
jupyter_notebooks/
runscripts/
.ipynb_checkpoints/
__pycache__/
output/
input/
gswp3
*.egg-info/
submit.sh
submit_array.sh
log/
backup/
*.ipynb
submit_cfact.sh
.idea/
myrunscripts/
